TOGETHER_API_KEY=tgp_v1_p35Jvl-mrmcWHEVfnpzB9XfPZz3hbEfmTng_EIdVb3U
ASSEMBLYAI_API_KEY=4ea24e035d0b48a09c8c1501c1132b68
PORT=5000
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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

